Repository rafagfran/kanban-front-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, biome lint --write --no-errors-on-unmatched, prettier --write . --plugin=prettier-plugin-tailwindcss

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}": [
    "biome check --write --no-errors-on-unmatched",
    "biome format --write --no-errors-on-unmatched",
    "biome lint --write --no-errors-on-unmatched"
  ],
  "*.{html,css}": ["prettier --write . --plugin=prettier-plugin-tailwindcss"]
}

test: test lintstaged formatter
  src/app/pages/private/board/board.component.html
Due: prettier --write . --plugin=prettier-plugin-tailwindcss

test: test lintstaged formatter
  biome.json
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, biome lint --write --no-errors-on-unmatched

test: test lintstaged formatter
  .lintstagedrc
Due: none

test: test lintstaged formatter
  src/app/app.component.html
Due: prettier --write . --plugin=prettier-plugin-tailwindcss

test: test lintstaged formatter
  .lintstagedrc
  biome.json
  src/app/app.component.html
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, biome lint --write --no-errors-on-unmatched, prettier --write . --plugin=prettier-plugin-tailwindcss

fix: drag and drop tasks between columns
  .lintstagedrc
  src/app/data/MOCK_DATA.ts
  src/app/pages/private/board/board.component.html
  src/app/pages/private/board/board.component.ts
  src/app/pages/private/board/components/board-column/board-column.component.html
  src/app/pages/private/board/components/board-column/board-column.component.ts
  src/app/pages/private/board/components/card-task/card-task.component.html
  src/app/pages/private/board/components/card-task/card-task.component.ts
  src/styles.css
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, biome lint --write --no-errors-on-unmatched, prettier --write . --plugin=prettier-plugin-tailwindcss

feat: button add task
  src/app/data/MOCK_DATA.ts
  src/app/pages/private/board/board.component.html
  src/app/pages/private/board/board.component.ts
  src/app/pages/private/board/components/board-column/board-column.component.html
  src/app/pages/private/board/components/board-column/board-column.component.ts
  src/app/pages/private/board/components/board-header/board-header.component.html
  src/app/shared/button/button.component.html
  src/app/shared/button/button.component.ts
  src/styles.css
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, biome lint --write --no-errors-on-unmatched, prettier --write . --plugin=prettier-plugin-tailwindcss

feat: button add task
  src/app/pages/private/board/components/board-column/board-column.component.html
Due: prettier --write . --plugin=prettier-plugin-tailwindcss

feat: add new card function
  biome.json
  src/app/data/MOCK_DATA.ts
  src/app/pages/private/board/board.component.html
  src/app/pages/private/board/board.component.ts
  src/app/pages/private/board/components/board-column/board-column.component.html
  src/app/pages/private/board/components/board-column/board-column.component.ts
  src/app/pages/private/board/components/card-task/card-task.component.html
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, biome lint --write --no-errors-on-unmatched, prettier --write . --plugin=prettier-plugin-tailwindcss

feat: add new list
  src/app/data/MOCK_DATA.ts
  src/app/data/mockDataTest.ts
  src/app/pages/private/board/board.component.html
  src/app/pages/private/board/board.component.ts
  src/app/pages/private/board/components/board-column/board-column.component.ts
  src/app/pages/private/board/components/board-header/board-header.component.html
  src/app/pages/private/board/components/card-task/card-task.component.html
  src/app/pages/public/landing-page/landing-page.component.html
  src/app/pages/public/landing-page/landing-page.component.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, biome lint --write --no-errors-on-unmatched, prettier --write . --plugin=prettier-plugin-tailwindcss

test: testing shared components
  src/app/data/MOCK_DATA.ts
  src/app/pages/private/board/board.component.html
  src/app/pages/private/board/board.component.ts
  src/app/pages/private/board/components/board-column/board-column.component.html
  src/app/pages/private/board/components/board-column/board-column.component.ts
  src/app/pages/private/board/components/board-header/board-header.component.html
  src/app/pages/private/board/components/board-header/board-header.component.ts
  src/app/pages/private/board/components/card-task/card-task.component.html
  src/app/pages/public/landing-page/landing-page.component.html
  src/app/shared/button/button.component.html
  src/app/shared/button/button.component.ts
  src/app/shared/input/input.component.html
  src/app/shared/input/input.component.spec.ts
  src/app/shared/input/input.component.ts
  src/app/svg/icons/arrowRight.component.ts
  src/app/svg/icons/chatText.component.ts
  src/app/svg/icons/dots.component.ts
  src/app/svg/icons/fileText.component.ts
  src/app/svg/icons/moon.component.ts
  src/app/svg/icons/plus.component.ts
  src/app/svg/icons/sun.component.ts
  src/app/utils/ButtonVariants.ts
  src/app/utils/InputVariants.ts
  src/styles.css
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, biome lint --write --no-errors-on-unmatched, prettier --write . --plugin=prettier-plugin-tailwindcss

fix: button and button component
  .postcssrc.json
  .prettierrc.json
  biome.json
  src/app/pages/private/board/board.component.html
  src/app/pages/private/board/components/board-column/board-column.component.html
  src/app/pages/private/board/components/board-column/board-column.component.ts
  src/app/shared/button/button.component.ts
  src/app/shared/input/input.component.ts
  src/app/utils/InputVariants.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, biome lint --write --no-errors-on-unmatched, prettier --write . --plugin=prettier-plugin-tailwindcss

fix: add new card function and shared input value
  src/app/pages/private/board/board.component.html
  src/app/pages/private/board/components/board-column/board-column.component.html
  src/app/pages/private/board/components/board-column/board-column.component.ts
  src/app/pages/private/board/components/card-task/card-task.component.html
  src/app/shared/input/input.component.html
  src/app/shared/input/input.component.ts
  src/app/utils/ButtonVariants.ts
  src/styles.css
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, biome lint --write --no-errors-on-unmatched, prettier --write . --plugin=prettier-plugin-tailwindcss
